<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div th:include="navbar"></div>
</header>
<br>
<br>
<br>

<div class="container">
    <h1 class="text-center">Liste des emprunts</h1>
    <br>
    <div class="panel panel-primary">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="10%">Auteur</th>
                    <th width="10%">Titre</th>
                    <th width="10%">nombre disponible</th>
                    <th width="10%">prolonger un emprunt</th>
                    <th width="10%">nombre disponible</th>
                    <th width="10%">date de fin</th>
                    <th width="10%">prolonger emprunt</th>
                    <th width="10%">date de fin bonus</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="emprunt : ${emprunts}">
                    <tr>
                        <td th:text="${emprunt.getLivre().getAuteur()}"></td>
                        <td th:text="${emprunt.getLivre().getTitre()}"></td>
                        <td th:text="${emprunt.getLivre().getNombre_disponible()}"></td>
                        <td th:text="${emprunt.getDate_emprunt()}"></td>
                        <td th:text="${emprunt.getDate_fin_prevu()}"></td>
                        <td th:text="${emprunt.getLivre().isReservation_disponible()} ? 'Indisponible' : 'disponible'"></td>
                        <td>
                            <a  type="button" class="btn btn-warning btn-md" th:href="@{/api/listereservation/{username}/upade-reservation/{reservationId}(reservationId=${emprunt.id})}"
                                th:text="${emprunt.isBonus_semaine()} ? 'oui' : 'non'"/>
                        </td>
                        <td th:text="${emprunt.getDate_semaine_bonus()} ?  ${emprunt.getDate_semaine_bonus()} : 'pas prolonger'"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
