<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste Livres</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>

</head>
<body>
<header>
    <div th:include="navbar"></div>
</header>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1 class="text-center">Liste Livres</h1>
    <div class="panel panel-primary">
        <div class="panel-body">

            <form th:action="@{/listelivres}" method="post">
                <div>
                    <label  for="search">recherche: </label>
                    <input type="text" name="search">
                    <input  class="btn btn-primary btn-md" type="submit" value="recherche">
                </div>
            </form>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="40%">Titre</th>
                    <th width="20%">Auteur</th>
                    <th width="20%">Nombre disponible</th>
                    <th width="20%">Reservation disponible</th>
                </tr>
                </thead>
                <tbody>
                        <th:block th:each="livre : ${livres}">
                            <tr>
                        <td th:text="${livre.getTitre()}"></td>
                        <td th:text="${livre.getAuteur()}"></td>
                        <td th:text="${livre.getNombre_disponible()}"></td>
                            <td>
                                <a
                                   th:text="${livre.isReservation_disponible()} ? 'Indisponible' : 'Disponible'"/>
                            </td>
                            </tr>
                        </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>